<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scanstyle.css') }}">
      <title>{% block title %}{% endblock %} sur scan-server</title>
   </head>
   <body>
      <ul class="sidenav">
         <li><a {% block menuVoirDoc %}{% endblock %}href="/">Voir les documents</a></li>
         <li><a {% block menuScanne %}{% endblock %}href="/scanne">Scanner un document</a></li>
         <li><a {% block menuVoirPdfs %}{% endblock %}href="/pdfs">Voir les PDFs</a></li>
         <li><a {% block menuConvert %}{% endblock %}href="/convertit">Créer un PDF</a></li>
         <li><a {% block menuRetouche %}{% endblock %}href="/retouche">Retoucher les fichiers</a></li>
      </ul>
   <div class="content">{% block content %}{% endblock %}</div>
   </body>
</html>
