{% extends "base.html" %}
{% block title %}Voir{% endblock %}
{% block menuConvert %}class="active" {% endblock %}
{% block content -%}
    <form action="/convert">Pour convertir des images en pdf, sélectionnez les puis cliquez sur <input type="submit">
    {%- for el in fichiers -%}
        {% if el[-3:]=="jpg" -%}
        <div class="imgbox">
            <input type="checkbox" name="{{ el }}" value="ok">{{ el }}<br>
            <img src="{{ url_for( 'static', filename=el ) }}" alt="{{ el }}" style="width:500px;">
        </div>
        {%- endif %}
    {%- endfor -%}
    Pour convertir des images en pdf, sélectionnez les puis cliquez sur <input type="submit">
    </form>
{%- endblock %}
