{% extends "base.html" %}
{% block title %}Voir{% endblock %}
{% block menuVoirDoc %}class="active" {% endblock %}
{% block content -%}
    {% for el in fichiers -%}
        {% if el[-3:]=="jpg" -%}
        <div class="imgbox">
            <a href="{{ url_for( 'static', filename=el ) }}" >{{ el }}</a><br>
            <img src="{{ url_for( 'static', filename=el ) }}" alt="{{ el }}" style="width:500px;">
        </div>
        {%- endif %}
    {%- endfor %}
{%- endblock %}
