{% extends "base.html" %}
{% block title %}Voir{% endblock %}
{% block menuVoirPdfs %}class="active" {% endblock %}
{% block content %}
    {% for el in fichiers -%}
        {% if el[-3:]=="pdf" -%}
        <div class="imgbox">
            <a href="{{ url_for( 'static', filename=el ) }}">{{ el }}</a>
        </div>
        {%- endif %}
    {%- endfor %}
{%- endblock %}
