{% extends "base.html" %}
{% block title %}Voir{% endblock %}
{% block menuRetouche %}class="active" {% endblock %}
{% block content -%}
    <form action="/retou">
    {%- for el in fichiers -%}
        {% if el[-3:]=="jpg" -%}
        <div class="imgbox">
            <input type="submit" value="Pivoter 90° G" formaction="/retou/piv90g/{{ el }}">
            <input type="submit" value="Pivoter 180°" formaction="/retou/piv180/{{ el }}">
            <input type="submit" value="Pivoter 90° D" formaction="/retou/piv90d/{{ el }}">
            <input type="submit" value="Supprimer" formaction="/retou/sup/{{ el }}"><br>
            <img src="{{ url_for( 'static', filename=el ) }}" alt="{{ el }}" style="width:500px;">
        </div>
        {%- elif el[-3:]=="pdf" -%}
        <div class="imgbox">
            <input type="submit" value="Supprimer" formaction="/retou/sup/{{ el }}"><br>
            <a href="{{ url_for( 'static', filename=el ) }}">{{ el }}</a>
        </div>
        {%- endif %}
    {%- endfor %}
{%- endblock %}
